// base color
$primary-font: #fff;
$normal-font: #a5a6ad;
$second-font: #c5c8d6;
$gray-font: #a9abb8;
$black: #353647;
$blue: #113ec5;
$light-blue: #3173dc;
$grey: #4a5471;
$orange: #faad14;
$red: #d8204c;
$green: #318035;
$white: #fff;

$bg-1-color: #14151f;
$bg-2-color: #1b1c28;
$bg-3-color: #212433;
$bg-4-color: #262734;
$bg-5-color: #252838;
$bg-6-color: #2d2f3e;

$bordercolor: #e6e8ea;

$bginput: #f1f3f5;

$font-medium: 500;

$container-width: 1080px;
